.card.selected {
    background-color: red;
}

@keyframes gradientAnimation {
    0% { background: linear-gradient(to right, #FF0000, #FF8080); }
    50% { background: linear-gradient(to right, #FF8080, #FF0000); }
    100% { background: linear-gradient(to right, #FF0000, #FF8080); }
  }
  
  .red-gradient {
    animation: gradientAnimation 2s infinite;
  }
  